{% extends "base.html" %}

{% block content %}
<span class="logo_container">
    <img src="static/img/logo.png" class="image">
    <h1>Аварийный доступ</h1>
</span>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h3>
        {{ form.astronaut_id.label }}<br>
        {{ form.astronaut_id(class="form-control") }}<br>
        {% for error in form.astronaut_id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </h3>
    <h3>
        {{ form.astronaut_password.label }}<br>
        {{ form.astronaut_password(class="form-control", type="password") }}<br>
        {% for error in form.astronaut_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <h3>
        {{ form.capitan_id.label }}<br>
        {{ form.capitan_id(class="form-control") }}<br>
        {% for error in form.capitan_id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <h3>
        {{ form.capitan_password.label }}<br>
        {{ form.capitan_password(class="form-control", type="password") }}<br>
        {% for error in form.capitan_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </h3>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}